<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FiftyFifty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D31320671EBAB4F20057C3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D313207B1EBAB4F40057C3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31320861EBAB4F40057C3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
